* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    background-color: #ffecd2;
    padding: 20px;
    border-radius: 15px 15px 0 0;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.schedule-section {
    margin-top: 20px;
    text-align: center;
}

.schedule-section h2 {
    font-size: 18px;
    color: #ff8c42;
    font-weight: bold;
    margin-bottom: 15px;
}

.schedule-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.day {
    background-color: #ffecd2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.day h3 {
    font-size: 14px;
    color: #ff8c42;
    margin-bottom: 10px;
}

.day p {
    font-size: 12px;
    margin-bottom: 5px;
}

.footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: #ff8c42;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff6f1f;
}

.event-container {
    flex-grow: 1;
    max-width: 300px;
  }
  
  .event-div {
    background-color: #fff; /* default background color */
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    max-width: 200px;
  }